@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

/* join us*/

.form-top {
    /*background-color:cyan;*/
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    padding: 0 25px 15px;
    /*text-align: left;*/
}
.form-top-left {
    float: left;
    width: 75%;
}
.form-top-right {
    color: #fff;
    float: left;
    font-size: 66px;
    line-height: 100px;
    opacity: 0.3;
    padding-top: 5px;
    text-align: right;
    width: 25%;
}
.form-section {
    /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);*/
    /*border-radius: 0 0 4px 4px;*/
    padding: 25px 25px 30px;
    text-align: left;
}
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);







